.popular {
  padding-bottom: 120px;
  text-align: center;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    color: $darkblue;
    line-height: 1.3;
  }

  &__list:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ECECEC;
    border-radius: 5px;
    padding: 13px 32px;
    outline: transparent;
    transition: box-shadow 0.3s,
      background-color 0.3s,
      color 0.3s,
      filter 0.3s;

    span {
      margin-right: 10px;
      height: 44px;
      width: 44px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $orange;

      span {
        filter: invert(68%) sepia(56%) saturate(5867%) hue-rotate(337deg) brightness(101%) contrast(101%);
      }
    }

    &:active {
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
    }
  }

  &__btn--active {
    background-color: $orange;
    border-radius: 5px;
    color: #fff;

    span {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #ECECEC;
    border-radius: 5px;
    padding: 20px 15px;
    max-width: 210px;
    height: 299px;
    width: 100%;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 0 1px #FF6838;
    }
  }

  &__link {
    text-decoration-line: underline;
    color: $darkblue;
  }
}