<section class="app-section">
  <div class="app-section__container container">
    <div class="app-section__content">
      <h2 class="app-section__title title">
        Скачайте мобильное приложение
      </h2>

      <p class="app-section__text">
        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте.
      </p>

      <ul class="app-section__list">
        <li class="app-section__item">
          <a class="app-section__link" style="background-image: url('images/icons/icon-appstore.svg');" href="#" target="_blank"></a>
        </li>

        <li class="app-section__item">
          <a class="app-section__link" style="background-image: url('images/icons/icon-googleplay.svg');" href="#" target="_blank"></a>
        </li>
      </ul>
    </div>

    <img class="app-section__img" width="570" height="380" src="images/app-bg.jpg" alt="Телефон и еда">
  </div>
</section>