<section class="features">
  <div class="features__container container">
    <img src="images/features.png" alt="доставщик еды" class="features__img">

    <div class="features__content">
      <h2 class="features__title title">
        Оставайтесь дома, <br>
        а мы позаботимся о еде
      </h2>

      <p class="features__text">
        У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
        получите скиидку!
      </p>

      <ul class="features__list">
        <li class="features__info info">
          <span class="info__icon" style="background-image: url('images/icons/icon-timer.svg');"></span>
          <span class="info__text">
            Быстрая доставка за 15 минут
          </span>
        </li>

        <li class="features__info info">
          <span class="info__icon" style="background-image: url('images/icons/icon-delivery.svg');"></span>
          <span class="info__text">
            Вежливые курьеры
          </span>
        </li>

        <li class="features__info info">
          <span class="info__icon" style="background-image: url('images/icons/icon-resturent.svg');"></span>
          <span class="info__text">
            Более 500 заведений
          </span>
        </li>
      </ul>

      <a class="info__btn btn" href="#">
        Подробнее
      </a>
    </div>
  </div>
</section>