<footer class="footer">
  <div class="container">
    <div class="footer__top">

      <div class="footer__column">
        <a class="footer__logo logo" href="#">
          <img class="logo__img logo__img-footer" src="images/logo.svg" alt="Логотип Магазина">
        </a>

        <form class="footer__form form-subscribe" action="#">
          <label class="sr-only" for="form-subscribe">Подписка на новости</label>
          <input class="form-subscribe__input" id="form-subscribe" name="подписка" type="email" placeholder="Ваш email"
            required>
          <button class="form-subscribe__btn btn">
            Подписаться
          </button>
        </form>
      </div>

      <div class="footer__items">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link" href="#">Как это работает</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Продукты</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Блюда</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Меню</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">О нас</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Новости</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Партнеры</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">ЧаВо</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Скачать приложение</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Блог</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Что нового?</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">Карта сайта</a>
          </li>
        </ul>
      </div>

      <address class="footer__contacts contacts">
        <ul class="contacts__list">
          <li class="contacts__item contacts__item--address">
            <a class="contacts__link link" href="#">
              ул. Смирнова 2/3
            </a>
          </li>

          <li class="contacts__item contacts__item--tel">
            <a class="contacts__link link" href="tel:79068057043">
              79068057043
            </a>
          </li>

          <li class="contacts__item contacts__item--mail">
            <a class="contacts__link link" href="mailto:support@sfood.com">
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="contacts__social social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <span class="social__icon" style="background-image: url('images/icons/icon-facebook.svg');"></span>
              <span class="sr-only">переход на фейсбук</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <span class="social__icon" style="background-image: url('images/icons/icon-twitter.svg');"></span>
              <span class="sr-only">переход на твиттер</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <span class="social__icon" style="background-image: url('images/icons/icon-instagram.svg');"></span>
              <span class="sr-only">переход на инстаграм</span>
            </a>
          </li>
        </ul>
      </address>

    </div>

  </div>
  <div class="footer__bottom">
    <a class="footer__bottom-link" href="#">
      © 2021 Simple Food
    </a>
  </div>
</footer>