<footer class="footer">
  <div class="container">
    <div class="footer-top">

      <div class="footer-top__items">
        <a class="footer-top__logo logo" href="#">
          <img class="footer-top__img" src="images/logo.svg" alt="Логотип Магазина">
        </a>

        <form class="footer-top__form" action="#">
          <input class="footer-top__input" type="email" placeholder="Ваш email">
          <button class="footer-top__form-btn">
            <svg width="20" height="20">
              <use xlink:href="images/sprite.svg#icon-frame"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>

      <div class="footer-top__items">
        <ul class="footer-top__list">
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Как это работает</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Продукты</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Блюда</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Меню</a>
          </li>
        </ul>
      </div>

      <div class="footer-top__items">
        <ul class="footer-top__list">
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">О нас</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Новости</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Партнеры</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">ЧаВо</a>
          </li>
        </ul>
      </div>

      <div class="footer-top__items">
        <ul class="footer-top__list">
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Скачать приложение</a>
          </li>
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Блог</a>
          </li>
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Что нового?</a>
          </li>
          <li class="footer-top__list-item">
            <a class="footer-top__list-link" href="#">Карта сайта</a>
          </li>
        </ul>
      </div>

      <div class="footer-top__info">
        <ul class="footer-top__list">
          <li class="footer-top__list-info footer-top__list-info--address">
            <a class="footer-top__info-link" href="#">
              ул. Смирнова 2/3
            </a>
          </li>

          <li class="footer-top__list-info footer-top__list-info--tel">
            <a class="footer-top__info-link" href="tel:79068057043">
              79068057043
            </a>
          </li>

          <li class="footer-top__list-info footer-top__list-info--mail">
            <a class="footer-top__info-link" href="mailto:support@sfood.com">
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="footer-top__social">
          <li class="footer-top__social-list">
            <a class="footer-top__social-link" href="#">
              <svg class="footer-top__svg" width="10" height="21">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-top__social-list">
            <a class="footer-top__social-link" href="#">
              <svg class="footer-top__svg" width="21" height="17">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>

          <li class="footer-top__social-list">
            <a class="footer-top__social-link" href="#">
              <svg class="footer-top__svg" width="20" height="20">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>   