
  <section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
          <h1 class="hero__title">
            Доставка
            <span>
              за 15 минут
            </span>
          </h1>

          <p class="hero__text">
            Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
          </p>

          <ul class="hero__links">
            <li class="hero__link">
              <a class="hero__order btn" href="#">Заказать</a>
            </li>

            <li class="hero__link">
              <a class="hero__more link" href="#">Подробнее</a>
            </li>
          </ul>
        </div>

        <img class="hero__img" src="images/scooter-guy.png" width="560" height="660" alt="Человек на скутере">
    </div>
  </section>
