<section class="popular">
  <div class="container">
    <h2 class="popular__title title">
      Популярные категории
    </h2>

    <ul class="popular__items">
      <li class="popular__list">
        <button class="popular__btn popular__btn--active" data-filter="all" type="button">
          <span style="background-image: url('images/icons/icon-burger.svg');"></span>
          Бургеры
        </button>
      </li>

      <li class="popular__list">
        <button class="popular__btn" data-filter=".category-b" type="button">
          <span style="background-image: url('images/icons/icon-pizza.svg');"></span>
          Пицца
        </button>
      </li>

      <li class="popular__list">
        <button class="popular__btn" data-filter=".category-c" type="button">
          <span style="background-image: url('images/icons/icon-sandwich.svg');"></span>
          Сендвичи
        </button>
      </li>

      <li class="popular__list">
        <button class="popular__btn" data-filter=".category-d" type="button">
          <span style="background-image: url('images/icons/icon-asia.svg');"></span>
          Азиатская кухня
        </button>
      </li>

      <li class="popular__list">
        <button class="popular__btn" data-filter=".category-f" type="button">
          <span style="background-image: url('images/icons/icon-dish.svg');"></span>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="popular__cards">
      <li class="popular__item mix category-b">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/1.jpg">
            <img class="product-card__img" src="images/popular/1.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Чизбургер с листьями салата
            </a>
          </h3>

          <span class="product-card__price">
            160 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-c">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/2.jpg">
            <img class="product-card__img" src="images/popular/2.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Бифбургер
            </a>
          </h3>

          <span class="product-card__price">
            190 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-d">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/3.jpg">
            <img class="product-card__img" src="images/popular/3.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Королевский чизбургер
            </a>
          </h3>

          <span class="product-card__price">
            260 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-d">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/4.jpg">
            <img class="product-card__img" src="images/popular/4.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Черный гамбургер
            </a>
          </h3>

          <span class="product-card__price">
            199 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-f">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/5.jpg">
            <img class="product-card__img" src="images/popular/5.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Чикен бургер
            </a>
          </h3>

          <span class="product-card__price">
            180 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-f">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/6.jpg">
            <img class="product-card__img" src="images/popular/6.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Чизбургер с листьями салата
            </a>
          </h3>

          <span class="product-card__price">
            160 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-b">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/7.jpg">
            <img class="product-card__img" src="images/popular/7.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Бифбургер
            </a>
          </h3>

          <span class="product-card__price">
            190 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-b">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/8.jpg">
            <img class="product-card__img" src="images/popular/8.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Королевский чизбургер
            </a>
          </h3>

          <span class="product-card__price">
            260 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-b">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/9.jpg">
            <img class="product-card__img" src="images/popular/9.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Черный гамбургер
            </a>
          </h3>

          <span class="product-card__price">
            199 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular__item mix category-b">
        <article class="popular__card product-card">
          <a class="product-card__image-link" data-fancybox="gallery" data-width="500" href="images/popular/10.jpg">
            <img class="product-card__img" src="images/popular/10.jpg" alt="Чизбургер">
          </a>

          <h3 class="product-card__name">
            <a class="product-card__link" href="#">
              Чикен бургер
            </a>
          </h3>

          <span class="product-card__price">
            180 <span>руб.</span>
          </span>

          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>

    <a class="popular__link link" href="#">Показать еще</a>
  </div>
</section>