<section class="popular">
  <div class="container">
    <h2 class="popular__title title">
      Популярные категории
    </h2>

    <ul class="popular__items">
      <li class="popular__item">
        <button class="popular__btn popular__btn--active" data-filter="all" type="button">
          <svg height="44" width="44">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>

      <li class="popular__item">
        <button class="popular__btn" data-filter=".category-b" type="button">
          <svg height="44" width="44">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>

      <li class="popular__item">
        <button class="popular__btn" data-filter=".category-c" type="button">
          <svg height="44" width="44">
            <use xlink:href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>

      <li class="popular__item">
        <button class="popular__btn" data-filter=".category-d" type="button">
          <svg height="44" width="44">
            <use xlink:href="images/sprite.svg#icon-asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>

      <li class="popular__item">
        <button class="popular__btn" data-filter=".category-f" type="button">
          <svg height="44" width="44">
            <use xlink:href="images/sprite.svg#icon-dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <div class="popular__cards">
      <div class="popular__card mix category-b">
        <img class="popular__img" src="images/popular/1.jpg" alt="Чизбургер">
        <p class="popular__text">
          Чизбургер с листьями салата
        </p>
        <span class="popular__num">
          160 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-b">
        <img class="popular__img" src="images/popular/2.jpg" alt="Чизбургер">
        <p class="popular__text">
          Бифбургер
        </p>
        <span class="popular__num">
          190 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-b">
        <img class="popular__img" src="images/popular/3.jpg" alt="Чизбургер">
        <p class="popular__text">
          Королевский чизбургер
        </p>
        <span class="popular__num">
          260 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-b">
        <img class="popular__img" src="images/popular/4.jpg" alt="Чизбургер">
        <p class="popular__text">
          Черный гамбургер
        </p>
        <span class="popular__num">
          199 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-c">
        <img class="popular__img" src="images/popular/5.jpg" alt="Чизбургер">
        <p class="popular__text">
          Чикен бургер
        </p>
        <span class="popular__num">
          180 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-c">
        <img class="popular__img" src="images/popular/6.jpg" alt="Чизбургер">
        <p class="popular__text">
          Чизбургер с листьями салата
        </p>
        <span class="popular__num">
          160 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-d">
        <img class="popular__img" src="images/popular/7.jpg" alt="Чизбургер">
        <p class="popular__text">
          Бифбургер
        </p>
        <span class="popular__num">
          190 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-d">
        <img class="popular__img" src="images/popular/8.jpg" alt="Чизбургер">
        <p class="popular__text">
          Королевский чизбургер
        </p>
        <span class="popular__num">
          260 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-f">
        <img class="popular__img" src="images/popular/9.jpg" alt="Чизбургер">
        <p class="popular__text">
          Черный гамбургер
        </p>
        <span class="popular__num">
          199 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>

      <div class="popular__card mix category-f">
        <img class="popular__img" src="images/popular/10.jpg" alt="Чизбургер">
        <p class="popular__text">
          Чикен бургер
        </p>
        <span class="popular__num">
          180 руб.
        </span>
        <button class="popular__card-btn" type="button">
          В корзину
        </button>
      </div>
    </div>

    <a class="popular__link link" href="#">Показать еще</a>
  </div>
</section>