<section class="restorant">
  <div class="container">
    <h2 class="restorant__title title">
      Лучшие рестораны
    </h2>

    <ul class="restorant__cards">
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/1.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          Blaze Pizza
        </p>
        <div class="restorant__items">
          <span class="restorant__time">11:00 - 22:00</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>

      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/2.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          Pizza Runcho
        </p>
        <div class="restorant__items">
          <span class="restorant__time">12:00 - 21:00</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>

      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/3.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          Pizza Hut
        </p>
        <div class="restorant__items">
          <span class="restorant__time">11:00 - 22:00</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>

      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/4.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          McDonald`s
        </p>
        <div class="restorant__items">
          <span class="restorant__time">06:00 - 23:00</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>

      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/5.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          KFC
        </p>
        <div class="restorant__items">
          <span class="restorant__time">06:00 - 23:30</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>

      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/6.jpg" alt="Блейз Пицца">
        <p class="restorant__text">
          Star Burgers
        </p>
        <div class="restorant__items">
          <span class="restorant__time">09:00 - 21:00</span>
          <a class="restorant__link btn" href="#">
            <span class="restorant__icon" style="background-image: url('images/icons/icon-arrow-right.svg');"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>