$dark: #31352b;
$darkblue: #363853;
$orange: #ff6838;
$siler-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;

$burgerWidth: 40px;
$burgerHeight: 25px;
$burgerLineHeight: 2px;
$burgerColor: #363853;

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin burger {
  width: $burgerWidth; 
  height: $burgerHeight;
  position: relative;
  color: $burgerColor;

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burgerLineHeight;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burgerLineHeight);
  }

  &--active {
    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }
}



